@import '../base/variables';

.navbar {
    a.nav-link {
        color: #111;

        &:hover {
            color: $dark-blue;
        }
    }

    .menu-icon {
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 15px;
        margin-right: 10px;

        span {
            height: 3px;
            width: 100%;
            background-color: $dark-blue;
            border-radius: 10px;
            transition: 0.3s ease;
        }
    }

    .menu-icon.active {
        span:nth-child(1) {
            transform: translateY(2px) rotate(45deg);
        }
        span:nth-child(2) {
            transform: translateY(-9px) rotate(-45deg)
        }
    }
}
