@import './variables';

body {
    font-family: $font-work-sans;
    background-color: rgb(241, 241, 241);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-lora;
}

.logo {
    font-family: $font-rubik;
    font-weight: 500;
}

.btn-dark {
    padding: 15px 30px;
    background-color: $dark-blue;
    border-color: $dark-blue;
    transition: 0.3s ease;

    &:hover {
        background-color: #2d5270;
        border-color: #2d5270;
    }
}

.btn-light {
    padding: 15px 30px;
}

.slanted {
    font-weight: 300;
}