@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@500&family=Work+Sans:wght@600&display=swap');

$font-lora: 'Lora', serif;
$font-rubik: 'Rubik', sans-serif;
$font-work-sans: 'Work Sans', sans-serif;